@{
    ViewBag.Title = "Role";
}
<p>&nbsp;</p>
<div class="spacerBody">
    @Html.ActionLink("Utwórz nowe role", "RoleCreate") | @Html.ActionLink("Nadaj użytkownikom role", "RoleAddToUser")
    <h2>@ViewBag.Title</h2>
    <div class="table">

        @foreach (string s in Model)
        {
            <div class="tr">
                <div class="td">
                    @s
                </div>
                <div class="td">
                    <span onclick="return confirm('Jeseś pewny by usunąć?')">
                        <a href="/Account/RoleDelete?RoleName=@s" class="delLink"><img src="/images/deleteicon.png" alt="Usuń" class="imgBorder0" /> Usuń</a>
                    </span>
                </div>
            </div>
        }
    </div>
</div>