@{
    ViewBag.Title = "Błąd!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Wystąpił nieznany błąd. Proszę skontaktuj się z administratorem serwisu opisując problem oraz załącz do wiadomości poniższą treść.</p>
Wiadomość błędu:
<p>ViewBag.ErrorMessage</p>