@{
    ViewBag.Title = "Kontakt";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>You can only imagine</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Napisz do nas</h3>
    </header>
    <p>
        <span class="label">Laionik:</span>
        <span><a href="mailto:lukasz.sosinki4@gmail.com">lukasz.sosinki4@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adres</h3>
    </header>
    <p>
        Politechnika Poznańska</ br>
        Piotrowo 3A, 60-965 Poznań
    </p>
</section>