@{
    ViewBag.Title = "InstaScore";
    ViewBag.WelcomeMessage = "Witaj";
    ViewBag.Message = " na stronie serwisu InstaScore!";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">        
                @{
                    if (User.Identity.Name.Length > 0)
                    {
                        ViewBag.WelcomeMessage = "Witaj " + User.Identity.Name.ToString();
                    }
                }
                <h1>@ViewBag.WelcomeMessage </h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}
    @{
        if (User.Identity.Name.Length == 0 )//(User.IsInRole("guest"))
        {
            <p>
                <ol class="round">
                    <li class="one">
                        <font size="3">@Html.ActionLink("Zaloguj się", "Login", "Account")</font><br /><font size="1">Jeśli nie masz konta to @Html.ActionLink("zarejestruj się", "Register", "Account")!</font>
                    </li>
                    <li class="two">
                        <font size="3">Oceniaj zdjęcia</font><br />
                        W każdy poniedziałek nowe zdjęć
                    </li>
                    <li class="three">
                        <font size="3">Sprawdź ranking</font><br />
                        Porównaj swoje oceny z innymi użytkownikami
                    </li>
                </ol>
            </p>
        }
    }

